header {
    background-image: url("../img/pattern.png");
    background-color: #4da2ff;
    background-size: contain;
}

/* logo size */
#logo{
    width: 15%;
    height: 25%;
    padding-top: 2%;
}