header {
    background-image: url("../img/pattern.png");
    background-color: #4da2ff;
    background-size: contain;
}

/* logo size */
#logo {
    width: 15%;
    height: 25%;
    padding-top: 2%;
}

/* titolo dell'articolo */

h1 {
    font-size: 200%;
    padding-right: 40%;
}



h4 {
    color: #8f8f8f;
    margin-top: -1%;
}

#theb {
    color: #5ac1ec;
}

h5 {
    color: #8f8f8f;
    margin-top: -1%;
    
}

/* foto principali */

.jhon{
    font-size: 50%;
}

/* corpo articolo  */

.corpo{
    padding-right: 40%;
}

/* tabella */

table{

    text-align: left;
}

.cella2{
   padding-left: 20%; 
}

.cella3{
    padding-left: 40%;
}

thead{
    background-color:#1aabe6 ;
    color:#ffffff ;
    
}

.row{
    background-color:#b2e6f2 ;
}

/* pie di pagina */

#info{
    color: #818181;
   font-size: 120%;
   
}

#graph{
    width: 200px;
    height: 200px;
    background-image: url("../img/graph.jpg");
    margin-top: 20px;
}

#monitor{
    width: 200px;
    height: 200px;
    background-image: url("../img/monitor.jpg");
    margin-top: 20px;
}
.word{
    color: antiquewhite;
   
}
.text{
    background-color: yellow;
}